.user-activity-form
  display: flex

.user-activity-form__user-input
  width: 50px
  height: 20px
  background: #FFFFFF
  border-radius: 5px

.user-activity-form__date-input
  width: 80px
  height: 20px
  background: #FFFFFF
  border-radius: 5px
